extends layout

block content
  h1= title
  form(method='POST' action='/new')
    div.form-group
      label(for='name') text:
      input#name.form-control(type='text', name='messageUser' required)
      label(for='message') text:
      input#message.form-control(type='text',  name='messageText' required)
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg